.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    height: 58px;
}
.menu li {
    min-width: 160px;
}

.menu li {
    color: #666;
    display: block;
    text-decoration: none;
    font-size: 17px;
    line-height: 22px;
    padding-bottom: 0.5em;


}

.menu li:hover{
    cursor: pointer;
}
.menu ul:hover{
    cursor: default;
}