/*General styles*/

body {
    background-color: #888;
    font-family: 'Open Sans', sans-serif;
}

.container {    
    margin-left: auto;
    margin-right: auto; 
    width: 600px;
}

header {
    font-size: 4em;
    color: #f8e199;
    font-weight: bold;
    margin-bottom: 30px;
}

.cover > img {
    height: 280px;
}


/* Use this class to hide elements*/
.hidden {
    display: none;
}


/* Styles for list of albums */
.albums {
    float: right;
    height: inherit;
    display: inline-block;
    margin-right: 15%;
}

.albums .header {
    list-style: none;
    font-size: 1.5em;
    line-height: 1.7em;
    font-weight: bold;
    color: #ddc885;
    margin-bottom: 0;
    margin-top: 0;
}

.section-title {
    transition:all linear 0.3s;
}


/* Styles for section with player and playlist*/
.player-box {
    display: inline-block;
    margin-left: 15px;
}

.playlist, .playlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.playlist {
    height: 58px;
}
.playlist li {
    min-width: 160px;
}

.playlist li {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.8em;
    font-weight: bold;
    color: #ddc885;
}

/* Makes pointer reflect an actve element when hovering song */
.playlist li:hover{
    cursor: pointer;
}