/*General styles*/

body {
    background-color: #eee;
    margin-top: 0px;
}

.container {    
    font-family: 'Open Sans', sans-serif;
    /* The folloving three rules make container to be centered*/
    margin-left: auto;
    margin-right: auto; 
    width: 800px;
}

.cover > img {
    height: 280px;
}

.ui-accordion-content {
    /* Should be same as height of .cover > img */
    height: 280px;
}

/* Overrides yellow border for jquery ui accordeon sections */
:focus {
    outline: none;
}

/* Use this class to hide elements ... */
.hidden {
    display: none;
}

/* Styles for list of albums */
.albums {
    height: inherit;
    display: inline-block;
    padding-left: 30px;
    float: right;
    margin-right: 15%;
}

.albums > .header {
    list-style: none;
    color: #666;
    font-size: 20px;
    line-height: 55px;
    cursor: pointer;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

/* Styles for section with player and playlist*/
.player-box {
    display: inline-block;
    margin-top: 30px;
    margin-left: 15%;
    width: 22%;
}

.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    height: 58px;
}
.menu li {
    min-width: 160px;
}

.menu li {
    color: #666;
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    line-height: 1.7em;
}

/* Makes pointer reflect an actve element when hovering song */
.menu li:hover{
    cursor: pointer;
}
